/* .footer {
  background-color: #313133;
  color: white;
}

.foot {
  margin: 0 205px;
  display: flex;
  justify-content: space-between;
}

.footer-end,
.footer-end2 {
  display: flex;
}

.blu {
  display: flex;
  background-color: #535357;
  padding: 0 205px;
  justify-content: space-between;
}

.footer-content {
  color: white;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.list {
  display: flex;
}

h2 {
  font-size: 14px;
  padding-bottom: 10px;
} */
