.search-container {
  display: flex;
  align-items: center;
  width: 70%;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: 500;
  padding: 0 10px;
  margin-right: 0;
  margin-left: 50px;
  justify-content: center;
  gap: 10px;
}

.search-input {
  font-size: medium;
  font-weight: 2px;
  width: 98%;
  border: none;
  padding: 5px 0;
  background-color: #fff;
  margin-right: 0;
}

.search-input[type="text"]:focus {
  border: 1px solid blue;
}

.btn {
  padding: 10px;
  margin-right: 0;
  margin-left: 0;
}
